<div id="pagewrap" class="pagewrap">
  <div id="preloader-wrapper">
    <h1>Any moment now...</h1>
    <div id="preloader"></div>
  </div>

  <div class="container show" id="page-1">
    
    <!-- Top navigation -->
    <%=  erb :header %>

    <div id="home">
      <div class='layer-bg layer' data-depth='0.10' data-type='parallax'>
        <div class="clouds-bg">
          <img src="img/clouds.png" />
        </div>
      </div>
      <div class='layer-2 layer' data-depth='0.50' data-type='parallax'></div>
      <div class='layer-3 layer' data-depth='0.80' data-type='parallax'></div>
      <div class='layer-overlay layer' data-depth='1' data-type='parallax'>
        <div class="block">
          <img src="img/block.png" />
        </div>
      </div>

      <div class="header-text">
         <a class="font-spin spinner text-animate" href="#">
          <span>K</span><span>a</span><span>n</span><span>e</span>
          <span>M</span><span>a</span><span>s</span><span>l</span><span>e</span><span>n</span>
        </a>
        <h2 class="trigger">WEB DEVELOPER</h2>
      </div>
    </div> 

    <div id="home-mobile">
      <div class="header-text-mobile">
        <h1 class="">KANE MASLEN</h1>
        <h2 class="trigger">WEB DEVELOPER</h2>
      </div>
      
      <div class="mobile-bg"></div>
      <div class="clouds-mobile">
          <img src="img/clouds.png" />
        </div>
    </div>
    
    <!-- About me segment -->
    <div id="about-me" class="segment bg-color-dark" >
      <div class="cavern">
        <img src="img/cavern.png" />
      </div>
      <div class="photo-holder delay-1">
        <img src="img/profile-image.jpg" />
      </div>

      <div class="info">
        <div class="about-body">
          <h3>I love to create.</h3>
          <div class="line center"></div>
          <p class="segment-para">I'm an experienced Brisbane based web developer, who has a passion and talent for creating websites and apps.</p>
        </div>
      
        <div class="info-container">
          <div class="info delay-1">
            <h4 class="about-subheader">Design.</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">I enjoy designing interactive experiences from conceptual designs through to wireframes and prototyping. My background in graphic design coupled with a desire to follow web design trends, means I design responsive user interfaces using sound design principles.</p>
          </div>
        
          <div class="info delay-2">
            <h4 class="about-subheader">Develop.</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">I'm passionate about web and application development and enjoy the challenge of coming up with solutions to best communicate to the user. I have experience with a wide range of languages and frameworks, lately I’ve been using a combination of AngularJS, HTML5, SASS and JQuery.</p>
          </div>

          <div class="info delay-3">
            <h4 class="about-subheader">Deliver.</h4>
            <div class="circle"></div>
            <div class="line"></div>
            <p class="snippet">I'm committed, hard working and I love what I do.</p>
          </div>
        </div> <!-- End .info-container -->
      </div> <!-- End .info -->
    </div> <!-- End #about-me -->
  </div> <!-- End #page-1 -->

  <!-- Projects segment -->
  <div class="container show" id="page-2">
    <div id="projects" class="segment bg-color-light">

      <div class="ceiling">
        <img src="img/cave-roof.png" />
      </div>

      <div class="projects-body">
        <h3 class="">Projects</h3>
        <div class="line center line-width"></div>
        <div class="projects-text">
          <p>This is a sample of some of the projects that I have recently developed. Click on a project below for a detailed overview.</p>
        </div>

        <div class="project-links">
          <a class="pageload-link project-content atlas-link" href="#project-atlas">
            <img src="img/atlas-logo.png" alt="Cultural Altas logo" />
            <h5>The Cultural Atlas</h5>
             <p>An informational website on culture, developed for SBS.</p>
          </a>

          <a class="pageload-link project-content abc-link" href="#project-abc">
            <img src="img/abc-logo.png" alt="A plus for kids logo" />
            <h5>A+ for kids</h5>
             <p>A fun english learning app, created for ABC kids.</p>
          </a>

          <a class="pageload-link project-content ccp-link" href="#project-ccp">
            <img src="img/ccp-logo.png" alt="Cultural Altas logo" />
            <h5 class="text-wrap">Cultural Competence Program</h5>
             <p>An app that allows users to learn, test and gauge their cultural competency.</p>
          </a>
        </div>
      </div>

      <div class="hero">  
        <div class='projects-layer-2 projectLayer' data-depth='0.20' data-type='project-parallax'></div>
        <div class='projects-layer-3 projectLayer' data-depth='0.30' data-type='project-parallax'></div>
        <div class='projects-layer-4 projectLayer' data-depth='0.90' data-type='project-parallax'></div>
        <!-- <div class='projects-layer-4 layer' data-depth='1' data-type='project-parallax'></div> -->
      </div>  
      <div class="floor">
        <img src="img/projects-fg.png" />
      </div>  
    </div>
    
    <!-- Footer -->
    <div class="footer bg-color-dark" id="contact">
      <div class="footer-body">
        <h3>Get in touch</h3>
        <div class="line center"></div>
        <p class="footer-para">If you would like to know more about me, download my resume 
        or send me an email. It would be great to hear from you.</p>
       
        <div class="button-holder">
          <a href="docs/resume-kane-maslen.pdf" class="button btn-animation" target="_blank">
            <img src="img/resume-icon.png" class="icon"  />
            <span>Download Resume</span>
          </a>
          <a href="mailto:kanemaslen@gmail.com" class="button btn-animation button--naira-up">
            <img src="img/email-icon.png" class="icon" />
            <span>Email me</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section>
    <%= erb :project_atlas %>
  </section>

  <section>
    <%= erb :project_abc %>
  </section>

  <section>
    <%= erb :project_ccp %>
  </section>

  <!-- Page loader-->
  <div id="loader" class="pageload-overlay" data-opening="M 0,60 80,60 80,50 0,40 0,60;M 0,60 80,60 80,25 0,40 0,60;M 0,60 80,60 80,25 0,10 0,60;M 0,60 80,60 80,0 0,0 0,60" data-closing="M 0,60 80,60 80,20 0,0 0,60;M 0,60 80,60 80,20 0,40 0,60;m 0,60 80,0 0,0 -80,0">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
          <path d="m 0,60 80,0 0,0 -80,0"/>
        </svg>
      </div><!-- /pageload-overlay -->
</div>
