 <!-- ******* PROJECT ATLAS PAGE ******* -->

<div class="container" id="project-atlas">
  <div class="page-cycle">
    <a class="pageload-cycle" href="#project-ccp">
      <img src="img/atlas-arrow.png" class="prev-btn" alt="prev button">
    </a>
    <a class="pageload-cycle" href="#project-abc">
      <img src="img/atlas-arrow.png" class="next-btn" alt="next button">
    </a>
  </div>

  <div class="banner">
    <img src="../img/atlas-banner-logo.png" class="atlas-banner-logo" alt="banner logo" />
    <a class="pageload-back" href="#page-2">
      <img src="img/atlas-close.png" class="close-btn" alt="close button">
    </a>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <h2>The Cultural Atlas</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">The Cultural Atlas is a website developed for SBS to deliver information about each of the countries and cultures of the world. The website features rich content in terms of imagery and text and is fully responsive across all devices.</p>
        <a href="http://theculturalatlas.org/" class="atlas-link-btn" target="_blank">
          <img src="../img/atlas-btn-arrow.png" class="hidden-arrow" alt="arrow" />
          <span>Visit the website</span>
          <img src="../img/atlas-btn-arrow.png" class="visible-arrow" alt="arrow" />
        </a>
      </div>

      <div class="gif-container gif-resize">
        <img src="img/mac.png" class="mac" alt="mac computer">
        <img src="img/atlas-web.gif" class="atlas-gif" alt="gif of website">
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">The website was written in Ruby, Haml, CSS, JavaScript and uses some jQuery. As content is still being written, the website uses Ruby on Rails to make api calls allowing content to be added, changed or removed by content creators at any time.</p>
        
          <div class="row badge-margin">
            <img src="img/js-badge.png" class="badge" alt="javaScript badge">
            <img src="img/ruby-badge.png" class="badge" alt="ruby badge">
            <img src="img/sass-badge.png" class="badge" alt="sass badge">
            <img src="img/rails-badge.png" class="badge" alt="rails badge">
            <img src="img/haml-badge.png" class="badge" alt="haml badge">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <div class="text-align">
        <h3>Design</h3>
        <p class="project-font-grey">The websites features principles of material design to ensure the look and feel was modern, clean and easy to read. Several wire frames and conceptual designs were created using both Illustrator and proto.io to ensure all stakeholders were happy with the look and feel of the website. In addition a colour palette and relevant style guide was created.</p>
        <div class="row">
          <div class="block-a col-1"></div>
          <div class="block-b col-1"></div>
          <div class="block-c col-1"></div>
        </div>
      </div>

      <div class="center-div">
        <div class="wireframes">
          <img src="img/atlas-wireframe1.png" class="wireframe grow" alt="atlas wireframe 1">
          <img src="img/atlas-wireframe2.png" class="wireframe grow" alt="atlas wireframe 2">
          <img src="img/atlas-wireframe3.png" class="wireframe grow" alt="atlas wireframe 3">
        </div>        
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Navigation</h3>
          <p class="project-font-white">With such a large volume of information planned to be added to the website in the future it was important to keep this in mind in terms of site navigation. To solve this problem a interactive map is featured on the home page, which intuitively shows which countries can be clicked on to receive more information about that particular country.  The global navigation and search bar in the header also give the user other ways to navigate the website.</p>
        </div>

        <div class="row badge-margin">
          <img src="img/atlas-mobile-1.png" class="atlas-mobile" alt="image of website">
          <img src="img/atlas-mobile-2.png" class="atlas-mobile" alt="image of website">
        </div>
      </div>
    </div>
  </div>

  