<!-- ******* PROJECT CCP PAGE ******* -->
  
<div class="container" id="project-ccp">
  <div class="page-cycle">

    <a class="pageload-cycle prev-trigger" href="#project-gethomii">
      <h6>Previous project</h6>
      <img src="img/right-arrow.svg" class="prev-btn" alt="prev button" />
    </a>
    <a class="pageload-cycle next-trigger" href="#project-atlas">
      <h6>Next project</h6>
      <img src="img/right-arrow.svg" class="next-btn" alt="next button" />
    </a>
  </div>

  <div class="banner">
    <a class="pageload-back" href="#page-2">
      <img src="img/close.png" class="close-btn" alt="close button" />
    </a>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <h2>Cultural Competence Program</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">The cultural competence app was developed for SBS Television to enable businesses to promote cultural competence in their workplace. The app allows users to learn, test and gauge their own competency through a range of information, videos and quizzes with the goal of delivering large scale online training.</p>

        <div class="app-store-links">
          <a href="https://play.google.com/store/apps/details?id=com.ies.culturalcompetence" target="_blank">
            <img src="../img/playstore-logo.png" class="app-logo" alt="play store logo" />
          </a>

          <a href="https://itunes.apple.com/au/app/cultural-competence-program/id1018073591?mt=8" target="_blank">
            <img src="../img/appstore-logo.png" class="app-logo apple-logo" alt="app store logo" />
          </a>
        </div>
      </div>  

      <div class="gif-container">
        <img src="img/blank-phone.png" class="phone" alt="mobile phone">
        <img src="img/ccp-tutorial-1.gif" class="ccp-phone-gif" alt="screenshot of website">
      </div>

    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">The app was created with the Ionic framework, making it compatible for IOS and Android devices. In addition a web version was created to allow access for users without a mobile phone. The app was written using HTML, SCSS, AngularJS and Ruby. Ruby on Rails was used for the backend to allows user to login and save their progress and track and compare their results.</p>
        </div>

        <div class="row badge-margin">
          <img src="img/js-badge.png" class="badge" alt="javaScript badge">
          <img src="img/html-badge.png" class="badge" alt="ruby badge">
          <img src="img/sass-badge.png" class="badge" alt="sass badge">
          <img src="img/ionic-badge.png" class="badge" alt="rails badge">
          <img src="img/angular-badge.png" class="badge" alt="haml badge">
          <img src="img/ruby-badge.png" class="badge" alt="ruby badge">
          <img src="img/angular-badge.png" class="badge" alt="rails badge">
        </div>
      </div>
    </div>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <div class="text-align">
        <h3>Design</h3>
        <p class="project-font-grey">To ensure that all design elements met SBS standards, I developed a style guide and created vector artwork to accompany each app module. As research indicated that the app would need to cater to users with varying levels of computer literacy, an in-app tutorial was designed using animated gifs to provide further explanation on how to use the app.</p>
      </div>

      <div class="gif-container">
        <img src="img/blank-phone.png" class="phone" alt="mobile phone">
        <img src="img/ccp-tutorial-3.gif" class="ccp-phone-gif" alt="screenshot of website">
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="text-align">
          <h3 class="text-color">Navigation</h3>
          <p class="project-font-white">Designing a project that allowed users to engage with a significant amount of educational material without feeling lost or overwhelmed presented a significant challenge. To overcome this obstacle, I developed several iterations of the design, incorporating feedback and improving the workflow with each iteration. To make the content more digestible, I created modules that contained multiple lessons, effectively breaking the material down into more manageable sections.</p>
        </div>
          
        <div class="gif-container">
          <img src="img/blank-phone.png" class="phone" alt="mobile phone">
          <img src="img/ccp-tutorial-2.gif" class="ccp-phone-gif bump-left" alt="screenshot of website">
        </div>
      </div>
    </div>
  </div>
</div>
  