<div class="container" id="project-gethomii">
  <div class="page-cycle">

    <a class="pageload-cycle prev-trigger" href="#project-trademark">
      <h6>Previous project</h6>
      <img src="img/right-arrow.svg" class="prev-btn" alt="prev button" />
    </a>

    <a class="pageload-cycle next-trigger" href="#project-ccp">
      <h6>Next project</h6>
      <img src="img/right-arrow.svg" class="next-btn" alt="next button" />
    </a>
  </div>

  <div class="banner gethomii-banner">
    <img src="img/gethomii-logo.png" class="nookal-logo" alt="logo of Get Homii" />
    <a class="pageload-back" href="#page-2">
      <img src="img/close.png" class="close-btn" alt="close button" />
    </a>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <h2>Get Homii</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">A mobile application developed for android and iOS devices to help Australian renters make the switch to buying their own home. The app includes a calculator that takes the users expenses including their current rent and shows them homes that they could buy for the same mortgage repayments.</p>

        <div class="app-store-links">
          <a href="https://play.google.com/store/apps/details?id=com.gethomii.homiiapp&gl=US" target="_blank">
            <img src="../img/playstore-logo.png" class="app-logo" alt="play store logo" />
          </a>
        </div>
      </div>

      <div class="gif-container">
        <img src="img/blank-phone.png" class="phone" alt="mobile phone">
        <img src="img/gethomii-mobile.png" class="ccp-phone-gif" alt="screenshot of website">
      </div>

    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">The app was developed using the Ionic Framework with a SQL backend. I was the Lead Frontend Developer on this project and added contributions to the flow, design and interactive elements.  The languages used include AngularJS, TypeScript, HTML and SCSS. </p>
        </div>

        <div class="row badge-margin">
          <img src="img/ionic-badge.png" class="badge" alt="ionic badge">
          <img src="img/angular-badge.png" class="badge" alt="angular badge">
           <img src="img/typescript-badge.png" class="badge" alt="typescript badge">
          <img src="img/html-badge.png" class="badge" alt="html badge">
          <img src="img/sass-badge.png" class="badge" alt="sass badge">
        </div>
      </div>
    </div>
  </div>
</div>
