<!-- ******* PROJECT CCP PAGE ******* -->
  
<div class="container" id="project-ccp">
  <div class="page-cycle">
    <a class="pageload-cycle" href="#project-abc">
      <img src="img/ccp-arrow.png" class="prev-btn" alt="prev button">
    </a>
    <a class="pageload-cycle" href="#project-atlas">
      <img src="img/ccp-arrow.png" class="next-btn" alt="next button">
    </a>
  </div>

  <div class="banner">
    <a class="pageload-back" href="#page-2">
      <img src="img/ccp-close.png" class="close-btn" alt="close button">
    </a>
  </div>

  <div class="project-container vert-align">
    
    <div class="content-wrapper">
      <h2>Cultural Competence Program</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">The cultural competence app was developed for SBS Television to enable businesses to promote cultural competence in their workplace. The app allows users learn, test and gauge their own competency through a range of information, videos and quizzes with the goal of delivering large scale online training.
        </p>

        <div class="app-store-links">
          <a href="https://play.google.com/store/apps/details?id=com.ies.culturalcompetence" target="_blank">
            <img src="../img/playstore-logo.png" class="app-logo" alt="play store logo" />
          </a>

          <a href="https://itunes.apple.com/au/app/cultural-competence-program/id1018073591?mt=8" target="_blank">
            <img src="../img/appstore-logo.png" class="app-logo apple-logo" alt="app store logo" />
          </a>
        </div>
      </div>  

      <div class="gif-container">
        <img src="img/blank-phone.png" class="phone" alt="mobile phone">
        <img src="img/ccp-tutorial-1.gif" class="ccp-phone-gif" alt="screenshot of website">
      </div>

    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">The app was created with the Ionic framework, making it compatible for IOS and Android devices. In addition a web version was created to allow access for users without a mobile phone. The app was written using HTML, SCSS, AngularJS and Ruby. Ruby on Rails was used for the backend to allows user to login and save their progress and track and compare their results.</p>
        </div>

        <div class="row badge-margin">
          <img src="img/js-badge.png" class="badge" alt="javaScript badge">
          <img src="img/html-badge.png" class="badge" alt="ruby badge">
          <img src="img/sass-badge.png" class="badge" alt="sass badge">
          <img src="img/ionic-badge.png" class="badge" alt="rails badge">
          <img src="img/angular-badge.png" class="badge" alt="haml badge">
          <img src="img/ruby-badge.png" class="badge" alt="ruby badge">
          <img src="img/angular-badge.png" class="badge" alt="rails badge">
        </div>
      </div>
    </div>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <div class="text-align">
        <h3>Design</h3>
        <p class="project-font-grey">A style guide was produced to ensure all design elements meet the standards of SBS. Vector artwork for the app was created to accompany each module. The app uses predominantly corporate colours with highlights of bright contrasting colour to draw the users focus to important areas. To accomodate users of varying levels of computer literacy a tutorial was created using animated gifs to further explain how to use the app.</p>
        
        <p class="project-font-grey">To increase the educational value and to keep users engaged a series of quiz types were developed. These range from Multiple choice quizzes, match the answer, Implicit Association Test (IAT) and slider bar quizzes to mention a few. Where possible quizzes also give detailed feedback on incorrect answers to improve user understanding.</p>
      </div>

      <div class="gif-container">
        <img src="img/blank-phone.png" class="phone" alt="mobile phone">
        <img src="img/ccp-tutorial-3.gif" class="ccp-phone-gif" alt="screenshot of website">
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="text-align">
          <h3 class="text-color">Navigation</h3>
          <p class="project-font-white">The challenge of this app in terms of the navigation was how to allow the user to engage a large volume of educational material without them feeling lost or overwhelmed in the process. To break down the content into manageable sections, modules were created which contain a number of lessons. When the user logs on for the first time all but the first module is locked. When all the lessons in the first module are completed the second module is unlocked and so on until the course is completed.</p>
        </div>
          
        <div class="gif-container">
          <img src="img/blank-phone.png" class="phone" alt="mobile phone">
          <img src="img/ccp-tutorial-2.gif" class="ccp-phone-gif bump-left" alt="screenshot of website">
        </div>
      </div>
    </div>
  </div>
</div>

  