 <!-- ******* PROJECT ABC PAGE ******* -->

<div class="container" id="project-abc">
  <div class="page-cycle">

    <a class="pageload-cycle prev-trigger" href="#project-atlas">
      <h6>Previous project</h6>
      <img src="img/right-arrow.svg" class="prev-btn" alt="prev button" />
    </a>
    
    <a class="pageload-cycle next-trigger" href="#project-ccp">
      <h6>Next project</h6>
      <img src="img/right-arrow.svg" class="next-btn" alt="next button" />
    </a>
  </div>

  <div class="banner">
    <a class="pageload-back" href="#page-2">
      <img src="img/close.png" class="close-btn" alt="close button" />
    </a>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <h2>A+ FOR KIDS</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">A+ for kids is a fun english learning app that was created for ABC kids. The app uses flashcards in combination with bright colourful graphics to help young learners pick up letters and words. This is reinforced with audio narration to help kids pronounce words correctly. A range of ABC characters were used throughout the app such as Giggle and Hoot, Bananas in Pyjamas, Play School, and The Wiggles.</p>

        <div class="app-store-links">
          <a href="https://play.google.com/store/apps/details?id=au.net.abc.australiaplus.kidslearnenglish" target="_blank">
            <img src="../img/playstore-logo.png" class="app-logo" alt="play store logo" />
          </a>

          <a href="https://itunes.apple.com/au/app/australia-plus-kids-learn/id1093326466?mt=8" target="_blank">
            <img src="../img/appstore-logo.png" class="app-logo apple-logo" alt="app store logo" />
          </a>
        </div>
      </div>

      <div class="gif-container abc-gif">
        <img src="img/abc-ipad.png" class="ipad" alt="ipad screenshot">
        <img src="img/abc-ipad.gif" class="ipad-gif" alt="ipad screenshot">
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">The website was written in Ruby, Haml, CSS, JavaScript and uses some jQuery. As content is still being written, the website uses Ruby on Rails to make api calls allowing content to be added, changed or removed by content creators at any time.</p>
        
          <div class="row badge-margin">
            <img src="img/js-badge.png" class="badge" alt="javaScript badge">
            <img src="img/html-badge.png" class="badge" alt="ruby badge">
            <img src="img/sass-badge.png" class="badge" alt="sass badge">
            <img src="img/ionic-badge.png" class="badge" alt="rails badge">
            <img src="img/angular-badge.png" class="badge" alt="haml badge">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <div class="text-align">
        <h3>Design</h3>
        <p class="project-font-grey">To ensure the project fitted seamlessly with other ABC kids apps, I was given access to a range of artwork created by ABC kids. I chose to design the app using a flashcard concept as it is a tried and tested learning technique that parents trust and children enjoy. To reinforce this concept I designed a card packet for each category. Each card within the category was also themed with with one particular ABC brand. For example the category ‘Food’ was themed with The Wiggles characters and artwork. The actual flashcard and their flipping animation was created using SCSS, with the relevant image and text placed within.</p>
      </div>

      <div class="image-container">
        <div class="card-holder">
          <img src="img/card-pack1.png" class="card-pack-1" alt="abc card pack">
          <img src="img/card-pack2.png" class="card-pack-2" alt="abc card pack">
          <img src="img/card-pack3.png" class="card-pack-3" alt="abc card pack">
        </div>
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Navigation</h3>
          <p class="project-font-white">A high priority of this project was to keep the navigation structure as simple as possible, to ensure ease of use for all age groups. This was partly achieved with large, bright and often animated buttons.</p>

          <p class="project-font-white">The categories page has a simple easy to use layout, allowing the user to swipe left or right to view more categories. The layout of this page was important so not to overwhelm the user with too many choices, but still make it intuitive to move through the remaining categories. As the user flips each flashcard, audio is played to engage the user and reinforce the pronunciation of each word. After all items in a category are shown the user is directed to a small animated game. This was an intentional design strategy to reward the user for completion and to give them incentive to try another category.</p>
        </div>

        <div class="row">
          <img src="img/abc-ipad-1.png" class="abc-ipad" alt="ipad view of app" />
          <img src="img/abc-ipad-2.png" class="abc-ipad" alt="ipad view of app" />
          <img src="img/abc-ipad-3.png" class="abc-ipad" alt="ipad view of app" />
        </div>
      </div>
    </div>
  </div>
</div>
