<div class="container" id="project-trademark">
  <div class="page-cycle">

    <a class="pageload-cycle prev-trigger" href="#project-nookal">
      <h6>Previous project</h6>
      <img src="img/right-arrow.svg" class="prev-btn" alt="prev button" />
    </a>
    <a class="pageload-cycle next-trigger" href="#project-gethomii">
      <h6>Next project</h6>
      <img src="img/right-arrow.svg" class="next-btn" alt="next button" />
    </a>
  </div>

  <div class="trademark-banner">
    <img src="img/clarivate-logo.png" class="nookal-logo" alt="logo of Clarivate" />
    <a class="pageload-back" href="#page-2">
      <img src="img/close.png" class="close-btn" alt="close button" />
    </a>
  </div>

  <div class="project-container vert-align">

    <div class="content-wrapper">
      <h2>Trademark Vision</h2>
      <div class="text-align">
        <h3>Overview</h3>
        <p class="project-font-grey">Trademark Vision offered machine learning and image recognition software solutions. A range of internal and public facing products were developed for IP Australia to manage trademark and patent related data.</p>

        <a href="https://www.ipaustralia.gov.au/" class="atlas-link-btn trademark-link" target="_blank">
            <img src="../img/atlas-btn-arrow.png" class="hidden-arrow" alt="arrow" />
            <span>Visit IP Australia</span>
            <img src="../img/atlas-btn-arrow.png" class="visible-arrow" alt="arrow" />
        </a>

      </div>

      <div class="gif-container gif-resize">
        <img src="img/mac.png" class="mac" alt="mac computer">
        <img src="img/design-ip-1.png" class="atlas-gif tm-image" alt="Image of IP Australia website">
      </div>
    </div>
  </div>

  <div class="dark-bg-wrapper">
    <div class="project-container vert-align">
      <div class="content-wrapper">
        <div class="row-text">
          <h3 class="text-color">Technical</h3>
          <p class="project-font-white">As a Frontend Developer, I have worked on software applications that leverage AI to improve functionality through image recognition and text comparisons. Notable projects that I have contributed to include a platform for managing Trademark Claims, the Australian Design Search, and the Australian Trademark Search.</p>
          <p class="project-font-white">During development, I utilised a mix of VueJS, AngularJS, Javascript, HTML, and SCSS to build visually appealing user interfaces. Since these applications were developed for a government organization, it was essential to ensure that they fully complied with AA accessibility standards.</p>
        </div>

        <div class="row badge-margin">
          <img src="img/vue-badge.png" class="badge" alt="javaScript badge">
          <img src="img/angular-badge.png" class="badge" alt="rails badge">
          <img src="img/js-badge.png" class="badge" alt="javaScript badge">
          <img src="img/html-badge.png" class="badge" alt="ruby badge">
          <img src="img/sass-badge.png" class="badge" alt="sass badge">
        </div>
      </div>
    </div>
  </div>

  <div class="project-container vert-align">
    <div class="content-wrapper">
      <div class="text-align">
        <h3>Design</h3>
        <p class="project-font-grey">Whilst employed by Trademark Vision I was also the Lead Designer and responsible for translating new project requirements into wireframes, designs and prototypes to present to IP Australia. Meetings were conducted on a regular basis where mockups were presented for feedback and approval.</p>
        <p class="project-font-grey">By keeping the client in a constant loop this ensured the design and development work met the requirements and the clients expectations and timeframes were continually met. Wireframes and mockups were completed with Sketch, Adobe Illustrator, Invision and Figma.</p>
      </div>
       <div class="gif-container gif-resize tm-size">
            <img src="img/mac.png" class="mac" alt="mac computer">
            <img src="img/trademark-design-3.png" class="atlas-gif tm-image" alt="Image of IP Australia website">
        </div>
    </div>
  </div>
</div>
