<div class="container" id="project-nookal">
    <div class="page-cycle">
        <a class="pageload-cycle prev-trigger" href="#project-ccp">
          <h6>Previous project</h6>
          <img src="img/right-arrow.svg" class="prev-btn" alt="prev button" />
        </a>
        <a class="pageload-cycle next-trigger" href="#project-trademark">
          <h6>Next project</h6>
          <img src="img/right-arrow.svg" class="next-btn" alt="next button" />
        </a>
    </div>

    <div class="nookal-banner">
        <img src="img/nookal-logo.png" class="nookal-logo" alt="logo of Nookal" />
        <a class="pageload-back" href="#page-2">
          <img src="img/close.png" class="close-btn" alt="close button" />
        </a>
    </div>

    <div class="project-container vert-align">
        <div class="content-wrapper">
            <h2>Nookal</h2>
            <div class="text-align minor">
                <h3>Overview</h3>
                <p class="project-font-grey">Nookal is a SAS platform that allows Allied Health clinics across the globe to manage their practice data and the every day needs of their clients. The numerous features are a strength to the platform and help to differentiate Nookal from its competitors.</p>

                <a href="https://login.nookal.com/v3.0/auth/login" class="atlas-link-btn nookal-link" target="_blank">
                    <img src="../img/atlas-btn-arrow.png" class="hidden-arrow" alt="arrow" />
                    <span>Visit the platform</span>
                    <img src="../img/atlas-btn-arrow.png" class="visible-arrow" alt="arrow" />
                </a>

                <a href="https://www.nookal.com/" class="atlas-link-btn top-margin nookal-link" target="_blank">
                    <img src="../img/atlas-btn-arrow.png" class="hidden-arrow" alt="arrow" />
                    <span>Visit the website</span>
                    <img src="../img/atlas-btn-arrow.png" class="visible-arrow" alt="arrow" />
                </a>
            </div>

            <div class="gif-container gif-resize bump-size">
                <img src="img/mac.png" class="mac" alt="mac computer">
                <img src="img/nookal-login.png" class="atlas-gif" alt="Nookal login page">
            </div>
        </div>
    </div>

    <div class="dark-bg-wrapper">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <div class="row-text">
                  <h3 class="text-color">Technical</h3>
                  <p class="project-font-white">My impactful contributions as a Frontend Developer working on the Nookal Platform have been critical to the successful delivery of numerous projects. From creating an inventory and invoicing systems, to implementing subscriptions, bulk invoicing, and purchasing credits flow. I have demonstrated my deep technical expertise and dedication to quality.</p>
                  <p class="project-font-white">I have also crafted a comprehensive style guide in React that serves as a valuable resource for ensuring design consistency. I moved into the role of Design Lead, a pivotal position in which I oversee development and ensure that it aligns with the overarching design vision, whilst providing guidance and mentorship to other developers. I utilise my technical coding skills with multiple languages including JavaScript, React, PHP, SCSS and HTML.</p>
                </div>

                <div class="row badge-margin">
                    <img src="img/js-badge.png" class="badge" alt="javaScript badge">
                    <img src="img/react-badge.png" class="badge" alt="rails badge">
                    <img src="img/php-badge.png" class="badge" alt="rails badge">
                    <img src="img/sass-badge.png" class="badge" alt="sass badge">
                    <img src="img/html-badge.png" class="badge" alt="ruby badge">
                </div>
            </div>
        </div>
    </div>

    <div class="extra-content">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <div class="flex-container flex-col">
                    <h3>Design</h3>
                    <p class="project-font-grey">As the Lead Designer, my responsibilities include taking a concept and conducting research to find solutions that meet our clients needs. I gather and finalise requirements with stakeholder approval, which serve as the foundation for creating wireframes, mockups, and prototypes.</p>
                    <p class="project-font-grey"> The iterative design process is driven by consistent user feedback and problem-solving. To accomplish these tasks, I utilise a range of design products such as Figma, Adobe Illustrator, and Invision. Throughout my time at Nookal, I have led the development of numerous new features and improvements, including:</p>
                    <div class="list-container">
                        <ul class="project-font-grey">
                            <li>Login Page Redesign</li>
                            <li>Nookal Dashboard</li>
                            <li>Subscriptions</li>
                            <li>Invoices Redesign</li>
                            <li>Outcome Measures</li>
                            <li>Quoting System</li>
                            <li>Instant Chat</li>
                            <li>Online Booking Redesign</li>
                        </ul>

                        <ul class="project-font-grey">
                            <li>Clinical Notes Redesign</li>
                            <li>Clinical Notes Template Builder</li>
                            <li>Zoom Booking Integration</li>
                            <li>System Wide Alerts</li>
                            <li>Message Centre</li>
                            <li>Scheduling</li>
                            <li>Customised Reporting</li>
                            <li>Sales Dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-content dark-bg">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <div>
                    <h3>Project: Online Bookings Redesign</h3>
                    <h6 class="project-font-white">User Research</h6>
                    <p class="project-font-white">My research process began with an in-depth analysis of user surveys, client requests, and competitor booking platforms. This provided me with valuable insights into the challenges our clients face when setting up their online booking system and the pain points that their end users encounter while making online bookings.</p>
                    <p class="project-font-white">Since our online booking platform already has a large customer base, I sought feedback from both our clients and their customers to gather even more valuable insights. These were then used to develop requirements that would address the issues identified in the research. Here is a small sample:</p>
                </div>

                <div class="grid">
                    <div class="box style-1">Frustration is caused by not being able to book multiple classes at once.</div>
                    <div class="box style-2">Businesses require more flexibility and customisation.</div>
                    <div class="box style-3">End users want a streamlined way to make bookings.</div>
                    <div class="box style-4">The current system is outdated in terms of look, feel and functionality.</div>
                    <div class="box style-5">End Users want to be able to purchase and use passes when making a booking.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-content">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <h3>Project: Online Bookings Redesign</h3>
                <div class="flex-container flex-row">
                    <div class="text-align">
                        <h6>Design Constraints</h6>
                        <p class="project-font-grey">At the time of redesign, the current online booking system was being used for hundreds of bookings each day. Therefore any changes to existing functionality needed to be carefully considered. Understanding this early in the design process, ensured that proposed solutions were viable from a technical perspective.</p>
                        <p class="project-font-grey">From the research I gathered I was able to collate the results into different client perspectives. I used these client perspectives to create several persona’s, which ensured design solutions remained focused.</p>
                       </div>
                    <img src="img/nookal-low-res.png" class="low-res" alt="Lowres mockups">
                </div>
            </div>
        </div>
    </div>


    <div class="extra-content dark-bg">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <h3>Project: Online Bookings Redesign</h3>
                <h6 class="project-font-white">Mockups and Design</h6>

                <p class="project-font-white">With the research I had conducted and a deep understanding of current booking platform trends, I initiated an iterative design process. I started with low-resolution mockups and progressively refining them to high-resolution designs and prototypes, integrating new features and improving user flow. Throughout this I conducted workshops with key clients to obtain feedback on the proposed solutions. </p>

                <div class="flex-col top-space">
                    <div class="flexed vert-align">
                        <div class="before-after">
                            <p class="project-font-white reset">Before</p>
                            <img src="img/online-bookings-before-1.png" class="" alt="Old Online Bookings select a location">
                        </div>

                        <div class="padded before-after">
                            <img src="img/online-bookings-before-2.png" class="" alt="New Online Bookings make a booking">
                        </div>
                        <div class="before-after">
                            <img src="img/online-bookings-before-3.png" class="" alt="New Online Bookings client details">
                        </div>
                    </div>

                    <div class="flexed vert-align">
                        <div class="design-image set-height top-space">
                            <img src="img/arrow.png" class="arrow-image" alt="arrow">
                        </div>

                        <div class="design-image set-height padded">
                            <img src="img/arrow.png" class="arrow-image" alt="arrow">
                        </div>

                        <div class="design-image set-height">
                            <img src="img/arrow.png" class="arrow-image" alt="arrow">
                        </div>
                    </div>


                    <div class="flexed vert-align">
                        <div class="before-after">
                            <p class="project-font-white reset">After</p>
                            <img src="img/online-bookings-after-1.png" class="" alt="New Online Bookings select a practitioner">
                        </div>

                        <div class="padded before-after">
                            <img src="img/online-bookings-after-2.png" class="" alt="New Online Bookings make a booking">
                        </div>

                        <div class="before-after">
                            <img src="img/online-bookings-after-3.png" class="" alt="New Online Bookings client details">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-content">
        <div class="project-container vert-align">
            <div class="content-wrapper">
                <h3>Online Bookings Redesign</h3>
                <h6>Final Product</h6>
                <p class="project-font-grey">The redesign of the online bookings platform has been highly successful, based on site data and responses from both our clients and their end users.</p>
                <div class="top-space">
                    <img src="img/nookal-final.png" class="full-width" alt="Nookal Web, Tablet and Mobile Designs">
                </div>
            </div>
        </div>
    </div>
</div>
