.header {
  min-width:100vw;
}

.clear-header {
  background-color: none;
  box-shadow: none;
  display: flex;
  left: 0;
  margin: 0 auto; 
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: opacity 2s ease-in; 
  transition: opacity 2s ease-in; 
  width: 100vw;
  z-index: 999;
}

.transparent-header {
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  -webkit-transition: all 0.3s; /* For Safari 3.1 to 6.0 */
  transition: all 2s; 
  -webkit-transform-origin: center;
  transform-origin: center;
  animation: fadeInDown 0.5s ease-out 0s forwards;
  -webkit-animation: fadeInDown 0.5s ease-out 0s forwards;
  z-index: 999;
}

.logo:before {
  position: relative;
}

.logo {
  max-width: 150px;
  margin-left: 10px; 
  position: absolute;
  top: 10px;
  width: 90px;
}

.logo img {
  height: auto;
  width: 100%;
}

.logo img:hover {
  animation: jello 0.5s ease-out 0s forwards;
  -webkit-animation: jello 0.5s ease-out 0s forwards;
}

.menu {
  line-height: 2;
}

.menu__list {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  padding: 0;
  top:0;
}

.menu__item {
  display: block;
  margin: 1em 0;
}

.menu__link {
  color:#FFF;
  cursor: pointer;
  display: block;
  font-family: 'montserrat-light', Times, serif;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}

#web-Ferdinand {
  margin: 0 auto;
}

#mobile-Ferdinand {
  display: none;
}

.menu--ferdinand .menu__link {
  color: #ffffff;
  display: block;
  margin: 0 1em;
  padding: 0 20px;
  position: relative;
  text-align: right;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

.menu--ferdinand .menu__item--current .menu__link {
  color: #BD492A;
  font-family: 'montserrat', Times, serif;
}

.menu--ferdinand .menu__link::before {
  background: #BD492A;
  bottom: 0;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: scale3d(0, 5, 1);
  transform: scale3d(0, 5, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
  transition-timing-function: cubic-bezier(1, 0.68, 0.16, 0.9);
}

.menu--ferdinand .menu__item--current .menu__link::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/**************************************/

@media (max-width:850px) {
  #web-Ferdinand {
    display: none;
  }

  #mobile-Ferdinand {
    display: block;
  }
 
  #mobile-Ferdinand h5 {
    position: relative;
    text-align: center;
    font-size: 16px;
  }

  .menu-item, .menu-open-button {
    background: #231F20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    border-radius: 2px;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-left: -20px;
    position: absolute;
    top: 15px;
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
    width: 80px;
  }

  .menu-open {
    display: none;
  }

  .hamburger {
    background: white;
    display: block;
    height: 3px;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    position: absolute;
    top: 50%;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
    width: 25px;
  }

  .hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }

  .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
  }

  .menu-open:checked + .menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .menu-open:checked + .menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  
  .menu-open:checked + .menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .menu {
    box-sizing: border-box;
    height: auto;
    font-size: 20px;
    left: 90vw;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 10vw;
    position: fixed;
    text-align: left;
    width: 150px;
    z-index: 99999;
  }
  
  .menu-item {
    color:#fff;
  }
  
  .menu-item:hover {
    background: white;
    color: #00bcd4;
  }

  .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }
  .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }

  .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }
  
  .menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }

  .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }

  .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

  .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }

  .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .menu-open:checked ~ .menu-item:nth-child(3) {
    -webkit-transition-duration: 190ms;
    transition-duration: 190ms;
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transition-duration: 290ms;
    transition-duration: 290ms;
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transition-duration: 390ms;
    transition-duration: 390ms;
    -webkit-transform: translate3d(0, 180px, 0);
    transform: translate3d(0, 180px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transition-duration: 490ms;
    transition-duration: 490ms;
    -webkit-transform: translate3d(0, 240px, 0);
    transform: translate3d(0, 240px, 0);
  }
}


/****** Navigation for project pages ******/


.close-btn {
  margin: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.next-btn {
  
}

img.prev-btn {
 transform: rotate(180deg);
}

.next-btn,
.prev-btn {
  top: 0;
}

.page-cycle {
  height: 60px;
  margin: 0 5px;
  position: fixed;
  top: 50vh;
  width: calc(100vw - 10px); 
  z-index: 99999;
}

.pageload-cycle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  background: #231F20;
  -webkit-transition: width 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  transition: width 0.3s, background-color 0.3s, box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pageload-cycle:hover {
  width: 200px;
  background: #BD492A;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.next-trigger {
  right: 0;
}

.prev-trigger {
  left: 0;
}
    
.pageload-cycle img {
  width: 40px;
  margin: 10px;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  pointer-events: none;
}

.pageload-cycle h6 {
  position: absolute;
  top: 0;
  margin: 0;
  color: #fff;
  /*text-transform: uppercase;*/
  white-space: nowrap;
  font-size: 16px;
  line-height: 60px;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  pointer-events: none;
}

.pageload-cycle.prev-trigger h6 {
  right: 60px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.pageload-cycle.next-trigger h6 {
  left: 60px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.pageload-cycle:hover img {
    opacity: 1;
    background: #231F20;
    border-radius: 50%;
    padding: 5px;
    /*right: 0;*/
    position: absolute;
    margin: 5px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pageload-cycle:hover img.prev-btn {
  /*left: 0;*/
  right: 0;
}

.pageload-cycle:hover h6 {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}