#project-ccp {
	background-color: ghostwhite;
	height:100%;
	min-height:100vh;
	width:100vw;
}

#project-ccp h2 {
	color: #0094ab;
  font-family: 'montserrat-black', Times, serif;
  font-size: 48px;
  letter-spacing: 0;
  margin-bottom: 50px;
  padding: 0; 
}

#project-ccp h3 {
	color: #cdd928;
  font-family: 'montserrat-bold', Times, serif;
  font-size: 32px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

#project-ccp .text-color {
	color: #cdd928;
}

#project-ccp .banner {	
	background: url(../img/ccp-banner.png) center;
	background-size: cover;
	border-bottom: 10px solid #274c5a;
	box-shadow: 2px 0 3px #333;
	height: 200px;
	left: 0;
	right: 0;
	top: 0;
}

#project-ccp .dark-bg-wrapper {
	background-color: #0094ab;
	border-bottom: 10px solid #274c5a;
	border-top: 10px solid #274c5a;

}

#project-ccp .close-btn {
	height: auto;
	width: 50px;
}

.ccp-phone-gif {
	border-radius: 2px;
	left: 13px;
	position: absolute;
	top: 50px;  
}

.bump-left {
	left: 17px;
}

